body {
    margin: 0;
    padding: 10px !important;
    box-sizing: border-box;
    color: var(--lew-text-color-1);
    background: var(--lew-bgcolor-1);
}

#app {
    width: 320px;
    margin: auto;
    position: relative;
}

@keyframes drag-border-ani {
    100% {
        background-position: 15px 0, -15px 100%, 0 -15px, 100% 15px
    }
}

.draging::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* pointer-events: none; */
    background: linear-gradient(90deg, red 50%, transparent 0) repeat-x,
        linear-gradient(90deg, red 50%, transparent 0) repeat-x,
        linear-gradient(0deg, red 50%, transparent 0) repeat-y,
        linear-gradient(0deg, red 50%, transparent 0) repeat-y;
    background-size: 15px 2px, 15px 2px, 2px 15px, 2px 15px;
    background-position: 0 0, 0 100%, 0 0, 100% 0;
    animation: drag-border-ani .5s infinite linear;
}